body {
  background-color: #E6E6FA;
  color: #090909;
}

h1 {
  padding-top: 1rem;
}

legend {
  padding-top: 1rem;
}

th,
td {
  color: #4d4d4d;
}

.side-bar {
  background-color: #003049;
  min-width: 200px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #d6faff;
  padding-bottom: 1em;
}

.btn:not(:disabled):not(.disabled) {
  background-color: #d6faff;
  color: black;
  border: none;
  outline: none;
}